speechbrain
pydub
numpy
pytube
moviepy
tqdm
pandas
coloredlogs
pillow
opencv-python
transformers
torch
torchvision
scikit-learn
matplotlib
absl-py
tensorboard
streamlit
streamlit_player
gspread
oauth2client